<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 2px solid #a0c4ca;
          text-align: center;
          padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        th, td {
          border-color: #d15679;
        }
        </style>
        </head>
<body>

<h1>Welcome to <a href="https://github.com/gitvipin/sql30">SQL30</a></h1>

<table style="width:100%">
  <h4>INSERT_DATA_HERE</h4>
</table>

</body>
</html>