<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL30 - Home</title>
</head>
<body>
    <h1>Welcome to SQL30</h1>


    <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    
      <br/>
      <br/>
      <br/>
  
<table>
<!-- here goes our data! -->
<script src="build-table.js"></script>
</table>
</body>

</html>
